.navigation__container {
  display: block;
  text-align: left;
  position: relative;
  z-index: 10;

  .dropdown-icon {
    vertical-align: middle;
    font-size: 3rem;
    position: absolute;
    right: 0;
    top:-.8rem;
  }
}

.navbar {
  display: none;
  position: relative;
  animation: growDown 300ms ease-in-out forwards;

  a {
    display: block;
    font-size: 1.9rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-link);
    text-shadow: 2px 2px 1px var(--color-logo-shadow);

    &:hover {
      background-color: var(--color-link-hover);
    }
  }

  .navigation-icon-theme {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px var(--color-logo-shadow);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  .nav__links {
    display: flex;
    align-items: center;

    a {
      margin-right: 2rem;
    }

    a:hover{
      background-color: var(--color-body-bg);
      border-bottom: 3px solid var(--color-text-secondary);
    }
  }

  .dropdown-icon {
    display: none;
  }
}
