@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//Light schemes
$light-primary-color: rgba(42, 42, 43, 100%);
$light-secondary-color: hotpink;
$light-body-bg-color: #f5f4f3;
$light-header-bg-color: rgba(245, 244, 243, 0.7);
$light-card-bg-color: rgba(247, 247, 246, 100%);
$light-card-bg-preview-color: rgba(247, 247, 246, 100%);
$light-shade-value: 20%;
$light-btn-color: rgb(211, 209, 209);
$light-btn-hover-color: hotpink;
$light-numorphism-first-color: #d0cfcf;
$light-numorphism-second-color: #ffffff;

//Dark schemes

$dark-primary-color: rgb(201, 201, 201);
$dark-secondary-color: hotpink;
$dark-body-bg-color: #282c39;
$dark-header-bg-color: rgba(39, 43, 56, 0.7);
$dark-card-bg-color: rgb(52, 56, 68);
$dark-card-bg-preview-color: rgb(204, 204, 204);
$dark-shade-value: 15%;
$dark-btn-color: rgb(82, 82, 82);
$dark-btn-hover-color: hotpink;

$dark-numorphism-first-color: #222530;
$dark-numorphism-second-color: #2e3342;

// Main setup

:root {
  //Header background
  --color-header-bg: #{$dark-header-bg-color};

  // Body background
  --color-body-bg: #{$dark-body-bg-color};

  // Neumorphism
  --color-neumorphism-light: #{$dark-numorphism-first-color};
  --color-neumorphism-dark: #{$dark-numorphism-second-color};

  // Text
  --color-text-primary: #{$dark-primary-color};
  --color-text-secondary: #{$dark-secondary-color};
  --color-text-shadow: #{shade($dark-body-bg-color, $dark-shade-value)};

  // Logo
  --color-logo-shadow: #{shade($dark-body-bg-color, 10%)};

  //Cards
  --color-card-bg: #{$dark-card-bg-color};
  --color-card-border: #{shade($dark-card-bg-color, 10%)};
  --color-card-shadow: #{shade($dark-card-bg-color, 20%)};
  --color-card-shadow-hover: #{shade($dark-card-bg-color, 35%)};

  // Card preview
  --color-card-preview-bg: #{shade($dark-card-bg-preview-color, 5%)};

  // Links
  --color-link: #{$dark-primary-color};
  --color-link-hover: #{shade($dark-card-bg-color, 5%)};

  //Icons
  --color-tag-icon: #{light($dark-primary-color, 40%)};

  // Buttons
  --color-btn: #{$dark-btn-color};
  --color-btn-grad: #{shade($dark-btn-color,20%)};
  --color-btn-hover: #{$dark-btn-hover-color};
}

.light {
  //Header background
  --color-header-bg: #{$light-header-bg-color};

  // Body background
  --color-body-bg: #{$light-body-bg-color};

  // Neumorphism
  --color-neumorphism-light: #{$light-numorphism-first-color};
  --color-neumorphism-dark: #{$light-numorphism-second-color};

  // Text
  --color-text-primary: #{$light-primary-color};
  --color-text-secondary: #{$light-secondary-color};
  --color-text-shadow: #{shade($light-body-bg-color, $light-shade-value)};

  // Logo
  --color-logo-shadow: #{shade($light-body-bg-color, 10%)};

  //Cards
  --color-card-bg: #{$light-card-bg-color};
  --color-card-border: #{shade($light-card-bg-color, 10%)};
  --color-card-shadow: #{shade($light-card-bg-color, 20%)};
  --color-card-shadow-hover: #{shade($light-card-bg-color, 30%)};

  // Card preview
  --color-card-preview-bg: #{shade($light-card-bg-preview-color, 5%)};

  // Links
  --color-link: #{$light-primary-color};
  --color-link-hover: #{shade($light-card-bg-color, 5%)};

  //Icons
  --color-tag-icon: #{lighten($light-primary-color, 40%)};

  // Buttons
  --color-btn: #{$light-btn-color};
  --color-btn-hover: #{$light-btn-hover-color};
}
